name: wordpress
services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    restart: always
    volumes:
      -  frontend-data:/var/www/html:rw
    ports:
      - 80:80
    networks: [app]
  database:
    image: mariadb:lts
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD}
    command:
      - --sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
      - --log_bin_trust_function_creators=1
      - --binlog_cache_size=16M
      - --key_buffer_size=0
      - --join_buffer_size=1024M
      - --innodb_log_file_size=32M
      - --innodb_buffer_pool_size=1024M
      - --innodb_buffer_pool_instances=1
      - --group_concat_max_len=320000
      - --max_binlog_size=512M
      - --binlog_expire_logs_seconds=28800
      - --max_connections=256
      - --max_allowed_packet=64M
    volumes:
      - database-data:/var/lib/mysql:rw
      - ./includes/db-init.sql:/docker-entrypoint-initdb.d/db-init.sql:ro
    networks: [app]
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost", "-p${DB_PASSWORD}" ]
      start_interval: 3s
      start_period: 5s
      interval: 1s
      timeout: 3s
      retries: 10
  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      PMA_HOST: database
      PMA_ABSOLUTE_URI: ${PHPMYADMIN_URL}
      UPLOAD_LIMIT: 128M
    ports:
      - 8080:80
    networks: [app]
    depends_on:
      database:
        condition: service_healthy

networks:
  app:
    driver: bridge

volumes:
  frontend-data:
  database-data: